site_name: Kitetdx
site_description: 基于 Mootdx 的二次封装与扩展

theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - toc.follow
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode


markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 3


nav:
  - 首页: index.md
  - API 参考: api.md
  - 使用指南: guide.md
